body{
  font-family: 'Roboto Condensed', sans-serif;
}

.logo {
  position: absolute;
  left: 3%;
  top: 5%;
  width: 20%;
}

.logo2 {
  position: absolute;
  left: 5%;
  top: 4%;
  font-size: 50px;
  font-weight: bolder;
  word-spacing: 10px;
  color: rgb(0, 0, 0);
}

.logo3 {
  position: absolute;
  left: 24%;
  top: 4%;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.logo4{
  position: absolute;
  left: 5%;
  top: 4%;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  display: none;
}

.navbar {
  position: absolute;
  right: 10%;
  top: 6%;
  font-size: 24px;
  word-spacing: 10px;
}

.navmobile{
  position: absolute;
  top: 5%;
  right: 6%;
  display: none;
}

.menu{
  position: absolute;
  top: 4%;
  right: 6%;
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.highlight {
  font-weight: bold;
}

.highlight2{
  color: rgb(230, 78, 32);
  font-weight: bolder;
}

.link{
  color: rgb(230, 78, 32);
}

.headline {
  display: flex;
  justify-content: center; 
  margin-top: 15%;
  font-size: 70px;
  font-weight: bolder;
  word-spacing: 10px;
  color: rgb(0, 0, 0);
}

.info{
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.infoabout{
  display: flex;
  justify-content: center;
  margin-top: 970px;
}

.infohome{   
  display: flex;
  justify-content: center;
  margin-top: 80%;
}

.text{
  position: absolute;
  top: 50%;
  margin: 20px;
  font-size: 28px;
}

.post{
  position: absolute;
  top: 500px;
  left: 50px;
}

.instagram{
  position: absolute;
  top: 500px;
  left: 400px; 
}

.robotik{
    position: absolute;
    top: 600px;
    left: 400px; 
}

.welcome{
    position: absolute;
    top: 500px;
    right: 50%; 
}

.umfrage{
  position: absolute;
  top: 500px;
  right: 70px; 
}

@media (max-width: 1850px){

  .welcome{
    display: none;
  }
}

@media (max-width: 1500px){

  .robotik{
   top: 600px;
   left: 400px;
  }
}


@media (max-width: 1300px){


  .navbar{
      display: none;
  }
  
  .logo3{
    font-size: 35px;
  }
  
  .logo2{
    font-size: 40px;
    display: none;
  }

  .info{
    font-size: 10px;
    margin-top: 580px;
  }

  .infohome{
    font-size: 10px;
    margin-top: 950px;
  }

  .infoabout{
    font-size: 10px;
    margin-top: 900px;
  }

  .navmobile{
    display: block;
  }

  .headline{
    font-size: 50px;
    margin-top: 200px;
  }

  .logo4{
    display: block;
    font-size: 35px;

  }

  .text{
    top: 35%;
    font-size: 20px;
  }

  .instagram{
   top: 370px;
   right: 20px;
  }

  .post{
    top: 370px;
    left: 20px;
  }

  .umfrage{
    top: 525px;
    left: 400px;
    right: 30px;
  }

  .robotik{
    top: 445px;
    left: 400px;
    right: 30px;
  }
}

@media (max-width: 624px){

  .navbar{
      display: none;
  }
  
  .logo3{
    font-size: 35px;
  }
  
  .logo2{
    font-size: 40px;
    display: none;
  }

  .info{
    font-size: 10px;
    margin-top: 550px;
  }

  .infohome{
    font-size: 10px;
    margin-top: 1100px;
  }

  .infoabout{
    font-size: 10px;
    margin-top: 1500px;
  }

  .navmobile{
    display: block;
  }

  .headline{
    font-size: 50px;
    margin-top: 40%;
  }

  .logo4{
    display: block;
    font-size: 35px;

  }

  .text{
    top: 35%;
    font-size: 20px;
  }

  .instagram{
   top: 200px;
   left: 20px;
  }

  .post{
    top: 270px;
    left: 20px;
  }

  .umfrage{
    top: 900px;
    left: 20px;
  }

  .robotik{
    top: 850px;
    left: 20px;
  }
} 