body{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 50px;
}

.nav{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 40px;
}
.nav a {
  margin: 0 5px;
}
.footer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.hightlight{
  color: red;
}
.first{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  flex: 1 1 20%;
  padding: 20px;
  box-sizing: border-box;
}
.second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.second div {
  background-color: #f0f0f0;
  flex: 1 1 20%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.h1{
  font-size: 25px;
  font-weight: bold;
}
.h2{
  font-size: 25px;
  font-weight: bold;
  color: red;
}
a{
  text-decoration: none;
  color: black;
}
.mobile_footer{
  display: none;
}
@media only screen and (max-width: 790px) {
    .first{
      flex-direction: column;
    }
    .second{
      flex-direction: column;
  }
  .img{
    display: none;
  }
  .second div {
    flex: 1 1 100%;
}
  .mobile_footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer{
    display: none;
  }
}
.competitions{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.link{
  color: red;
}